<h1>What was your rating for this game out of 10</h1>
<h2><%=game.name%></h2>


<div class ="row">
	<div class="col s4">
	</div>
<form class ="col s4" method="POST" action="./create">
	<input type="hidden" name="gameId" value="<%=game.id%>">
	<input type="hidden" name="userId" value="<%=user.id%>">
	<input type="number" name="rating" id="rate" max ="10" min="1">
	<input type="submit" value="Submit That Rating" class = "btn-small">
</form>
</div>