<h1>Games That You Have Reviewed</h1>

<% ratings.forEach(r => { %>
	<div class="gamebox">
	<% if (r.userId == user.id ) { %>
		<h4><a href="/games/<%=r.game.id%>"><%=r.game.name%></a></h4>
		<p class ="rating"><%=r.rating%></p>
		<a href="./edit/<%=r.id%>">Change</a>
	<% } %>
</div>
<% })%>




