<h1>Games Reviewed</h1>

<p>Here is a list of games reviewed</p>

<% ratings.forEach(r => { %>
	<div class="gamebox">
	<% if (r.userId == user.id ) { %>
		<h4><%=r.game.name%></h4>
		<p class ="rating"><%=r.rating%></p>
		<a href="./edit/<%=r.id%>">Change</a>
	<% } %>
</div>
<% })%>




