<% if (alerts && alerts.error) { %>
	<div class="card red lighten-3" style="margin-top: 0">
		<div class="card-content">
			<% alerts.error.forEach(e => { %>
			<p>Error: <%= e %> </p>
			<%	})%>
		</div>
	</div>
<% } %>