<nav>
  <div class="nav-wrapper indigo lighten-3">
    <a href="#" class="brand-logo">SP</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/games/search">Search Games</a></li>
      <% if (user) { %>
      <li><a href="/profile/user">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile/reviews">My Reviews</a>
      <% if (user.admin) {  %>
        <li><a href="/profile/admin">Admin Page</a></li>
      <% }%>
      <%} else { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
      <% } %>
    </ul>
  </div>
</nav>

 <ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/games/search">Search Games</a></li>
  <% if (user) { %>
    <li><a href="/profile/user">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/profile/reviews">My Reviews</a>
      <% if (user.admin) {  %>
        <li><a href="/profile/admin">Admin Page</a></li>
      <% }%>
    <%} else { %>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/signup">Sign Up</a></li>
    <% } %>
</ul>