<h1>About</h1>


<h4>At Gamer Grade, we are commited to having the best source of user reviews for the world of video games. Our goal is to make it so gamers can here from fellow gamers whether or not they enjoy games, and not need to rely on video game journalists who get paid by big companies to boost their ratings, and overlook smaller games.</h4>