<h1>About</h1>


<p>At Gamer Grade, we are commited to having the best source of user reviews for the world of video games. Our goal is to make it so gamers can here from fellow gamers whether or not they enjoy games, and not need to rely on video game journalists who are on payroll to make as many reviews as possible.</p>