<h1>Gamer Grade</h1>
<h2>The best place to find the coolest games that you can be sure will be worth your time and money</h2>

<h3>Top Games</h3>

<%games.forEach(g => { %>
	<%let rating = 0%>
	<%let count= 0%>
	<% g.ratings.forEach(r => { %>
		<%count++%>
		<%rating+= r.rating%>
	<%})%>
	<% if (rating/count > 9) { %>
	<div>
		<a href="/games/<%=g.id%>"><%=g.name%></a>
	</div>
	<%=rating/count%>
	<% } %>
<% }) %>




