html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #df3340;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

img {
	height: 150px;


}

a:link {
	color:white;
}

a:visited {
	color:white;
}

a:hover {
	color: blue;
}

.rating {
	color: #0090f0;
	font-size: 30px
}

.gamebox {
	
}

