<h1>List of Games Reviewed</h1>

<% games.forEach(g => { %>
	<%let rating = 0%>
	<%let count= 0%>
	<h4><a href="/games/<%=g.id%>"><%=g.name %></a></h4>
	<% g.ratings.forEach(r => { %>
		<%count++%>
		<%rating+= r.rating%>
	<%})%>
	<p class="rating"><%=rating/count%></p>
	<div></div>

	<% }) %>


<h4>Make a Review for a game that you see here, or one that you don't</h4>


 <a href="/games/list">Rate a Game</a>