<h1>Games Reviewed</h1>
<h2>Search for a game by typing in the name</h2>

<div class="row">
	<div class="col s4">
	</div>
	<form class ="col s4"method="POST" action="/games/search">
		<input type="text" name="name">
		<input type="submit" class="btn-small">
	</form>
</div>



