<h1>Games Reviewed</h1>
<h2>List of games sorted by ranking</h2>
<div class="container">
	<!-- for each loop, sorting by games reviewed -->


</div>

<form method="POST" action="/games/search">
	<input type="text" name="name">
	<input type="submit">
</form>



